:root{
--color-primary: #0c3388; 
--color-accent-primary: hsl(45, 80%, 60%);
--color-accent-secondary: hsl(40, 90%, 30%);
--color-selected: hsl(50, 55%, 70%);
}
body{
margin: 0px;
font-family: "Open Sans", sans-serif;
background: var(--color-primary);

}
header{
background-color:var(--color-primary);
height: 10vh;
width: 100vw;
position: absolute;
top: 0;
color: white;
font-size: 1.3em;
font-weight: 600;
}
.button{
height: 10vh;
width: 5vw;
vertical-align: middle;
text-align: center;
align-items: center;
line-height: 10vh;
}
.flex-box{
display: flex;
top: 0px;
width:30vw;
left:5vw;
position:absolute;
justify-content: start; 
}
.footer{
	background-color: var(--color-primary);
	font-size: 1.3em;
	font-weight: 600;
	color: white;
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: end;
}
.footer-div{
	width: 12vw;
	height: 10vh;
	line-height: 10vh;
	align-text: center;
	align-items: center;
	vertical-align: middle;
}
