:root{
--color-primary: #253352; 
--color-secondary: #D8D8D8;
--color-accent: #8D8D8D;
--table-width: 50;
--table-height: 50;
}
body{
margin: 0px;
font-family: "Open Sans", sans-serif;
background: var(--color-secondary);

}
header{
background-color:var(--color-primary);
height: 6vh;
width: 100vw;
position: absolute;
top: 0;
color: white;
font-size: 1.5em;
font-weight: 600;
}
#vid{
width:4vw;
transform: translateX(-1vw);
}
.button{
height: 6vh;
width: 7vw;
vertical-align: top;
text-align: center;
align-items: center;
line-height: 4vh;
}
.flex-box{
display: flex;
top: 0px;
width:30vw;
left:5vw;
position:absolute;
justify-content: start; 
}
.toolPanel{
	position: absolute;
	width: 98vw;
	height: 6vh; 
	top:7vh;
	left: 1vw;
	border-radius: 25px / 50%;
	background-color: white;
}
.footer{
	background-color: var(--color-primary);
	font-size: 1.3em;
	font-weight: 600;
	color: white;
	height: 10vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: end;
}
.footer-div{
	width: 12vw;
	height: 10vh;
	line-height: 10vh;
	align-text: center;
	align-items: center;
	vertical-align: middle;
}
#table{
	width: 100vw;
	height: 80vh;
	overflow: scroll;
	bottom:0;
	position: absolute;
	background-color: var(--color-secondary);
	display: grid;
	grid-template-rows: repeat(var(--table-height), 3vh);
	grid-template-columns: repeat(var(--table-width), 5vw);


}
.cell{
	height: 3vh;
	border: 1px solid var(--color-accent);
	line-height: 6vh;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	background-color: var(--color-secondary);
}
