body {
    background-image: url(img/background_photo.png);
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}
.mainbox {
    background-color: white;
    height: 650px;
    width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 39px;
    
}
#logo {
    top: 140px;
    position: absolute;

}

#title_register {
    top: 270px;
    position: absolute;
}

#title_authorization {

    top: 270px;
    position: absolute; 

}


#email {
    width: 380px;
    height: 56px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 170px;   
    border-color: black;
    background-color: #EBEBEB;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 20px;

}
#password {
    width: 380px;
    height: 56px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    border-color: black;
    background-color: #EBEBEB;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 20px;
   

}

#registration_button {
    width: 410px;
    height: 56px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;

}

#registration_button:hover {
    background-color: #EBEBEB;
    color: black;
}
#registration_button:active {
    
    background-color: white;
    color: black;
}

#registration_mini_button {
    width: 200px;
    height: 56px;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 30px;
    font-size: 20px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);

}
#registration_mini_button:hover {

   
    background-color: #EBEBEB;

}   

#registration_mini_button:active {

    background-color: white;

}   


#enter_mini_button {
    width: 200px;
    height: 56px;
    margin-left: 0px;
    margin-right: 120px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
}

#enter_mini_button:hover {
    background-color: #EBEBEB;
    color: black;

}

#enter_mini_button:active {
    
    background-color: white;
    color: black;
}

.buttons {

    display: flex;

}